<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #392de3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'root_index' %}">SeZiMo</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item pr-2">
                    <a class="nav-link {% if request.resolver_match.url_name == 'root_index' %} active{% endif %}"
                       href="{% url 'root_index' %}"><i data-feather="home"></i> Home</a>
                </li>
                <li class="nav-item pr-1">
                    <a class="nav-link {% if request.resolver_match.app_name == 'news' %} active{% endif %}"
                       href="{% url 'news:index' %}"><i data-feather="book-open"></i> News</a>
                </li>
                <li class="nav-item pr-1">
                    <a class="nav-link disabled"><i data-feather="mail"></i> Contact Us <small>(Coming Soon)</small></a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2"
                       type="search"
                       placeholder="Search"
                       aria-label="Search"/>
                <button class="btn btn-outline-success"
                        style="background-color: #fcba03"
                        type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
