<nav class="navbar navbar-expand-lg navbar-dark"
     style="background-color: #392de3">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'root_index' %}">SeZiMo</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item pr-2">
                    <a class="nav-link {% if request.resolver_match.url_name == 'root_index' %} active{% endif %}"
                       href="{% url 'root_index' %}"><i data-feather="home"></i> Home</a>
                </li>
                <li class="nav-item pr-1">
                    <a class="nav-link {% if request.resolver_match.app_name == 'news' %} active{% endif %}"
                       href="{% url 'news:index' %}"><i data-feather="book-open"></i> News</a>
                </li>
                <li class="nav-item pr-1">
                    <a class="nav-link disabled"><i data-feather="mail"></i> Contact Us <small>(Coming Soon)</small></a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   id="navbarDropdown"
                   role="button"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    {{ request.user }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end"
                    aria-labelledby="navbarDropdown">
                    {% if request.user.is_authenticated %}
                        {% include "home/navbar_auth_dropdown.html" %}
                    {% else %}
                        <li>
                            <a class="dropdown-item" href="#"><i data-feather="log-in"></i> Login</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i data-feather="user-plus"></i> Create Account</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i data-feather="lock"></i> Forgot Password?</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider"/>
                        </li>
                        <li>
                            <a class="dropdown-item" href="#"><i data-feather="code"></i> Swagger Docs</a>
                        </li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
</nav>
