<li>
    <a class="dropdown-item" href="#"><i data-feather="settings"></i> Edit Account</a>
</li>
<li>
    <a class="dropdown-item" href="#"><i data-feather="code"></i> Swagger Docs</a>
</li>
{% if request.user.is_staff %}
    <li>
        <hr class="dropdown-divider">
    </li>
    <li>
        <a class="dropdown-item" href="#"><i data-feather="tool"></i> Django Admin</a>
    </li>
    <li>
        <hr class="dropdown-divider">
    </li>
{% endif %}
<li>
    <a class="dropdown-item" href="#"><i data-feather="log-out"></i> Logout</a>
</li>
