{% extends "home/index.html" %}
{% block content %}
    <h1>Welcome to the news page!</h1>
    <!-- Dropdown Trigger -->
    <ul>
        {% for article in articles %}
            <li>{{ article.title }}</li>
            <ul>
                <li>Short Description: {{ article.short_description }}</li>
                <li>Content: {{ article.content|safe }}</li>
                <li>Author: {{ article.author.get_full_name }}</li>
                <li>Created: {{ article.create_dttm }}</li>
                <li>Modified: {{ article.updated_dttm }}</li>
            </ul>
        {% endfor %}
    </ul>
{% endblock content %}
